iframe#a02c22m3 {
    height: 400px;
    width: 700px;
}
iframe#i1a3c22m4 {
    display: block;
    margin: auto;
}

iframe#framea4c22m04 {
    width: 80vw;
    height: 300px;
    border: 2px solid blue;
}

iframe#framea8c22m04 {
    width: 60vw;
    height: 600px;
    border: 2px solid greenyellow;
}

form#forma1c24m4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid blue;
    padding: 10px;
    width: 40vw;
}